@charset "UTF-8";
body,
html {
  overflow-x: hidden;
}

/*Reset size*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/*color del fondo principal*/
body {
  background-color: #17062A;
}

/*Tipografia general*/
body {
  font-family: "PT Serif", serif;
}

p {
  color: white;
}

/*tipografia barra navegacion games*/
main section nav ul li {
  font-size: 1.3rem;
}

/*titulo principal*/
main section div h1 {
  font-size: 10rem;
  color: black;
  /*media query tabletas*/
}
@media (max-width: 1024px) {
  main section div h1 {
    font-size: 7rem;
  }
}
@media (max-width: 901px) {
  main section div h1 {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  main section div h1 {
    font-size: 3rem;
  }
}
@media (max-width: 426px) {
  main section div h1 {
    font-size: 1.8rem;
  }
}
main section div p {
  font-size: 1.5rem;
  /*media tabletas*/
}
@media (max-width: 1024px) {
  main section div p {
    margin-top: 20px;
  }
}
@media (max-width: 801px) {
  main section div p {
    margin-top: 30px;
  }
}
@media (max-width: 426px) {
  main section div p {
    font-size: 1rem;
  }
}
main section div h2 {
  font-size: 2rem;
}

/*titulo general de las noticias*/
main h3 {
  color: black;
  font-size: 3rem;
}

/*titulo de la noticia*/
main section article h4 {
  font-size: 2rem;
}
main section article div p {
  font-size: 1rem;
}

/*titulo offcanbas*/
.offcanvas-title.offcanvas-title-style {
  font-size: 2rem;
}

/*tipografia footer derechos reservados*/
footer section .shadow {
  text-shadow: -1px 2px 0 #484848;
}
footer section .derechos {
  font-size: 1rem;
}

/*barra de navegacion*/
header nav ul {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20%;
  font-size: 1.8rem;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}
header nav ul li {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background-color: #004AAD;
  color: black;
  /*media tabletas*/
  /*media celulares*/
}
header nav ul li:hover {
  background-color: #8b36da;
  color: white;
}
@media (max-width: 1024px) {
  header nav ul li {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  header nav ul li {
    font-size: 1.2rem;
  }
}
@media (max-width: 426px) {
  header nav ul li {
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*barra de nabegacion de games*/
main section nav ul {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20%;
  font-size: 1.8rem;
  background-color: black;
  width: 100%;
}
main section nav ul li {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background-color: #004AAD;
  color: black;
  /*media tabletas*/
  /*media celulares*/
}
main section nav ul li:hover {
  background-color: #8b36da;
  color: white;
}
@media (max-width: 1024px) {
  main section nav ul li {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  main section nav ul li {
    font-size: 1.2rem;
  }
}
@media (max-width: 426px) {
  main section nav ul li {
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 421px) {
  main section nav ul li {
    font-size: 0.8rem;
  }
}

/*barra de navegacion, se actualisara con js o bootstrap*/
main #nav-games {
  display: none;
}

/*grid titulo principal*/
.title-grid {
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: repeat(2, auto);
  gap: 0px;
  padding: 10px;
  margin: 10px;
  grid-template-rows: auto auto;
  place-items: center;
}
.title-grid h1 {
  margin-top: 10px;
  grid-column: 1/-1;
  grid-row: 1;
  justify-self: center;
  align-items: center;
  padding: 10px 150px 0px 150px;
  background: linear-gradient(to right, #5970FC, #EE67CA);
  border-radius: 25px;
  margin-bottom: 0px;
  border: solid white;
  border-width: 5px;
}
@media (max-width: 769px) {
  .title-grid h1 {
    padding: 5px 50px 5px 100px;
    margin: 0px;
  }
}
@media (max-width: 426px) {
  .title-grid h1 {
    padding: 5px 50px 5px 50px;
  }
}
.title-grid .title-wrapper {
  display: flex;
  gap: 0px;
  align-items: center;
}
.title-grid .title-wrapper p {
  margin-left: -110px;
  margin-bottom: 110px;
  background: #004AAD;
  padding: 10px 8px 0px 8px;
}
@media (max-width: 769px) {
  .title-grid .title-wrapper p {
    margin-left: 10px;
  }
}
.title-grid h2 {
  padding: 5px 30px 5px 30px;
  margin-top: -10px;
  grid-column: 1/-1;
  grid-row: 2;
  justify-self: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #5970FC, #EE67CA);
  border-radius: 25px;
  border: solid white;
  border-width: 3px;
}

/*grid titulo articulo principales*/
main section h3 {
  background: linear-gradient(to right, #5970FC, #EE67CA);
  text-align: center;
  margin-bottom: 20px;
}

/*titulo del articulo*/
main section article {
  /*articulo principal*/
}
main section article h4 {
  display: inline;
  margin-left: 100px;
  padding: 10px;
  background: linear-gradient(to right, #5970FC, #EE67CA);
  padding: 10px;
  border-radius: 20px;
  color: black;
}
main section article div {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: linear-gradient(to right, #020207, #413FFC);
  padding-left: 20px;
  align-items: center;
  margin-bottom: 20px;
}
main section article div img {
  margin: 10px;
  margin-right: 5%;
  width: 300px;
  height: 300px;
  padding: 0px;
  border: inset;
  border-width: 7px;
  border-radius: 25px;
}

/*Imagenes del Carrete home. Ajustar tamaño*/
.carousel-inner.style {
  justify-content: center;
  width: 100%;
  height: 300px;
  padding: 0px;
}

@media (max-width: 426px) {
  #home-image {
    display: none;
  }
}

@media (max-width: 600px) {
  main section article div img {
    display: none;
  }
}

/*botod de videos*/
.btn.btn-primary.btn-styles {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background-color: #004AAD;
  color: black;
  color: white;
  top: 7%;
  position: fixed;
  z-index: 1000;
  margin-left: 10px;
}
.btn.btn-primary.btn-styles:hover {
  background-color: #8b36da;
  color: white;
}
@media (max-width: 426px) {
  .btn.btn-primary.btn-styles {
    top: 45px;
  }
}

.btn.btn-primary.btn-styles:hover {
  color: black;
}

/*estilos offcanbas*/
.offcanvas.offcanvas-start.offcanvas-style {
  background: linear-gradient(to right, #020207, #413FFC);
  width: 700px;
}

/*estilo boton offcanbas*/
.btn-close {
  background-image: none;
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 1;
}

.btn-close.btn-styles svg {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -10px;
  background-color: #ffffff;
}

.btn-close.btn-styles:hover svg:hover {
  background-color: #8b36da;
  color: white;
}

/*estilo videos*/
.videos {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*titulo offcanbas*/
.offcanvas-title.offcanvas-title-style {
  color: white;
  background-color: black;
  padding: 20px;
  margin-left: -35px;
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 25px;
}

/*footer*/
footer {
  background: linear-gradient(to right, #020207, #413FFC);
}
footer .footer-t {
  color: white;
  font-size: 3rem;
  background: linear-gradient(to right, #5970FC, #EE67CA);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer section {
  text-align: center;
}
footer section p {
  color: black;
  font-size: 1.5rem;
}
footer section .mis-datos {
  margin: 5px;
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background-color: #004AAD;
  color: black;
  color: white;
}
footer section .mis-datos:hover {
  background-color: #8b36da;
  color: white;
}
footer section .mis-datos:hover {
  color: black;
}

/*Richymon & Web designer*/
main section {
  padding: 20px;
}
main section div h4 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #5970FC, #EE67CA);
  margin-top: -20px;
  color: black;
}
main section div h4 strong {
  padding: 10px;
}
main section article h5 {
  display: inline;
  background: linear-gradient(to right, #5970FC, #EE67CA);
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  font-size: 2rem;
  color: black;
}
main section article p {
  margin: 10px;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
