body,
html {
    overflow-x: hidden;
}

/*Reset size*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/*fondo y tipografia*/
body {
    background-color: rgb(55, 72, 38);
}

section {
    margin: 10px;
    padding: 15px;
    background-color: black;
    color: rgb(247, 3, 255);
    font-family: "PT Serif", serif;
    border-radius: 5px;
}

p {
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 10px;
}


/*barra de navegacion*/
header nav ul {
    margin: 0px;
    border: 0px;
    padding: 5px;
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "PT Serif", serif;
    background-color: whitesmoke;
    list-style: none;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

header nav ul li {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.8rem;
    color: #000000;
    background-color: #2184D5;
    border-radius: 20px;
}

header nav ul li:hover {
    background-color: #8A2BE2;
}

/*barra de navegacion. about me*/
#ul-about-me {
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: "PT Serif", serif;
    background-color: whitesmoke;
    width: 100%;
    list-style: none;
}

.li-about-me {
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: #8A2BE2;
    list-style: none;
    text-align: center;
    border-radius: 20px;
}

.li-about-me:hover {
    background-color: #2184D5;
}

/*barra de busqueda games*/
main section nav ul {
    margin: 5px;
    display: flex;
    justify-content: center;
    gap: 300px;

}

main section nav ul li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3rem;
    list-style: none;
}

/*titulo principal*/



.main-title {
    margin-left: 100px;
    margin-right: 50%;
    border-width: 20px;
    border-color: white;
    border-style: solid;
    padding-left: 2rem;
    font-size: 10rem;
    font-family: "PT Serif", serif;
    position: relative;
    bottom: -45px;
    border-right: none;
}

.name-page {
    position: absolute;
    top: 100px;
    left: 40%;
    font-size: 2rem;
    font-style: italic;
    background-color: #2184D5;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.sub-title {
    font-size: 3rem;
    text-align: center;
    font-family: "PT Serif", serif;
    margin-top:  50px;
    padding-top: 0px;
}

/*Imagenes del Carrete home. (Ajustar tamaño)*/
.carousel-inner.style {
    justify-content: center;
    width: 100%;
    height: 300px;
    padding: 0px;
}

/*titulo del articulo principal*/
h3 {
    font-size: 4rem;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

/*titulo de las noticias*/
main section article h4 {
    margin-left: 100px;
    position: relative;
    bottom: -100px;
    z-index: 1;
    font-size: 2.5rem;
    background-color: #000000;
    padding: 15px;
    display: inline;
    border-radius: 0px 30px 30px 0px;
}

/*Los articulos principales*/
body main section article div {
    background-color: rgb(33, 132, 213);
    margin: 20px;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 20px;
}


/*titulo about me*/

#nombre-foto {
    align-items: center;
    display: grid;
    grid-template-columns: 30% 60%;
}

#web-designer {
    display: flex;
    font-size: 4.3rem;
    margin-left: 40%;
    margin-top: -40px;
    padding: 10px;
    background-color: #F703FF;
    position: absolute;
    top: 780px;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
}

#mi-foto {
    width: 25rem;
    height: 25rem;
    margin-right: 350px;
    margin-left: 200px;
    border-radius: 50%;
}

#ricardo {
    position: relative;
    bottom: 50px;
    font-size: 7.3rem;
    padding: 10px;
    border-radius: 40px;
}

/*titulo article about me*/
h5 {
    display: inline;
    padding: 5px 2% 5px 10px;
    margin: 10px;
    font-size: 2.5rem;
    background-color: #2184D5;
    border-radius: 0px 30px 30px 0px;
    color: #ffffff;
}

/*footer*/
footer {
    background-color: blueviolet;
    font-family: "PT Serif", serif;
    padding: 0px;
}

.footer-t {
    display: inline;
    padding: 5px 10px 5px 10px;
    font-size: 2rem;
    background-color: whitesmoke;
    border-radius: 20px;
    color: #000000;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    top: 5px;
}

.mis-datos {
    color: white;
}

.mis-datos:hover {
    color: #2184D5;
}

.sect-datos {
    padding: 5px;
    margin: 5px;
}

/*boton go top*/

.go-up {
    display: inline;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 50px;
    margin: 50%;
    position: relative;
    bottom: 10px;
    font-size: 1.3rem;
}

.go-up:hover {
    background-color: #2184D5;
}

/*Estilos boton videos bootstrap*/
.btn.btn-primary.btn-styles {
    background-color: whitesmoke;
    color: #000000;
    font-family: "PT Serif", serif;
    position: fixed;
    top: 7%;
    transition: all 0.3s ease;
    z-index: 1000;
}

.btn.btn-primary.btn-styles:hover {
    background-color: #2184D5;
}

.btn.btn-primary.btn-styles:hover svg {
    background-color: #F703FF;
}

/*Estilo boton offcanvas*/
.btn-close {
    background-image: none;
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 1;
}

.btn-close.btn-styles svg {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -10px;
    background-color: #ffffff;
}

.btn-close.btn-styles:hover svg {
    background-color: #2184D5;
}

/*Estilos offcambas bootstrap*/
.offcanvas.offcanvas-start.offcanvas-style {
    width: 700px;
    background-color: #8A2BE2;
}

/*Estilos titulo bootstrap*/
.offcanvas-title.offcanvas-title-style {
    color: #ffffff;
    background-color: #000000;
    padding: 20px;
    font-size: 3rem;
    font-family: "PT Serif", serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 90%;
    position: relative;
    right: 20px;
}

/*Estilos de video Youtube*/
.videos {
    background-color: #2184D5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

/*articulos about me*/
h5 {
    font-size: 2rem;
}

/*footer*/
.footer-t {
    font-size: 1.5rem;
}

/*go top*/
.go-up {
    font-size: 1rem;
}

/*media query hd*/
@media (max-width: 1440px) {

    /*titulo principal*/
    .main-title {
        font-size: 8rem;
        border-width: 20px;
        padding-left: 20px;
        padding-right: 80%;
        margin-left: 80px;
    }

    .name-page {
        font-size: 1.5rem;
        top: 100px;
        left: 70%;
    }

    /*titulos de las noticias o articulos*/
    main section article h4 {
        font-size: 2.3rem;
        top: 25px;
    }

    /*titulo principal about me*/
    #mi-foto {
        width: 150px;
        height: 150px;
        justify-content: left;
        margin: 0px 0px 0px 30px;
    }

    #ricardo {
        font-size: 3rem;
        margin-top: 60px;
        padding: 25px;
    }

    #web-designer {
        position: absolute;
        font-size: 1.5rem;
        justify-content: center;
        margin: 0px 0px 15px 0px;
        top: 580px;
        right: 26%;
    }
}

/*media querry laptop*/
@media (max-width: 1280px) {

    /*Boton videos*/
    .btn.btn-primary.btn-styles {
        top: 60px;
    }

    /*Videos offcanbas*/
    .offcanvas.offcanvas-start.offcanvas-style {
        width: 40%;
    }

    /*titulo principal*/
    .main-title {
        font-size: 7rem;
        border-width: 20px;
        padding-left: 20px;
        padding-right: 80%;
        margin-left: 80px;
    }

    .name-page {
        font-size: 1.5rem;
        left: 70%;
    }

    /*titulos de las noticias o articulos*/
    main section article h4 {
        font-size: 2.3rem;
        top: 25px;
    }

    /*titulo principal about me*/
    #mi-foto {
        width: 150px;
        height: 150px;
        justify-content: left;
        margin: 0px 0px 0px 30px;
    }

    #ricardo {
        font-size: 3rem;
        margin-top: 60px;
        padding: 25px;
    }

    #web-designer {
        font-size: 1.5rem;
        justify-content: center;
        margin: 0px 0px 15px 0px;
        top: 550px;
        right: 17%;
    }
}

/*media querry tablets big*/
@media (max-width: 1024px) {

    /*Boton videos*/
    .btn.btn-primary.btn-styles {
        top: 60px;
    }

    /*Videos offcanbas*/
    .offcanvas.offcanvas-start.offcanvas-style {
        width: 50%;
    }

    /*titulo principal*/
    .main-title {
        font-size: 7rem;
        border-width: 15px;
        padding-left: 20px;
        padding-right: 80%;
        margin-left: 80px;
    }

    .name-page {
        font-size: 1.5rem;
        left: 70%;
    }

    /*titulos de las noticias o articulos*/
    main section article h4 {
        font-size: 2rem;
        top: 25px;
    }

    /*nav bag games*/
    main section nav ul {
        justify-content: center;
        gap: 20%;
    }

    /*Barra de navegacion about me*/
    #ul-about-me {
        justify-content: center;
        font-size: 1.5rem;
        gap: 20%;
        margin 0px
    }

    /*titulo principal about me*/
    #mi-foto {
        width: 150px;
        height: 150px;
        justify-content: left;
        margin: 0px 0px 0px 30px;
    }

    #ricardo {
        font-size: 3rem;
        margin-top: 60px;
        padding: 0px;
    }

    #web-designer {
        position: absolute;
        font-size: 1.5rem;
        justify-content: center;
        margin: 0px 0px 15px 0px;
        top: 500px;
        right: 17%;
    }
}

/*media querry tablets small*/
@media (max-width: 801px) {

    /*nav bar*/
    header nav ul {
        gap: 14%;
        justify-content: center;
    }

    header nav ul li {
        font-size: 1.5rem;
        text-align: center;
    }

    /*Boton videos*/
    .btn.btn-primary.btn-styles {
        top: 60px;
    }

    /*Videos offcanbas*/
    .offcanvas.offcanvas-start.offcanvas-style {
        width: 100%;
    }

    /*titulo principal*/
    .main-title {
        font-size: 7rem;
        border-width: 15px;
        padding-left: 2px;
        margin-left: 80px;
    }

    .name-page {
        font-size: 1.5rem;
        left: 75%;
    }

    .sub-title {
        display: flex;
        font-size: 2.5rem;
        justify-content: right;
        margin-right: 30px;
    }

    /*titulos de las noticias o articulos*/
    main section article h4 {
        font-size: 2rem;
        top: 20px;
    }

    /*nav bag games*/
    main section nav ul {
        justify-content: center;
        gap: 20px;
    }

    /*Barra de navegacion about me*/
    #ul-about-me {
        justify-content: center;
        font-size: 1.5rem;
        gap: 20%;
        margin 0px
    }

    /*titulo principal about me*/
    #mi-foto {
        width: 150px;
        height: 150px;
        justify-content: left;
        margin: 0px 0px 0px 30px;
    }

    #ricardo {
        font-size: 3rem;
        margin-top: 60px;
        padding: 0px;
    }

    #web-designer {
        position: absolute;
        font-size: 1.5rem;
        justify-content: center;
        margin: 0px 0px 15px 0px;
        z-index: 1;
        top: 535px;
        right: 17%;
    }
}

/*Media Query Movile big*/
@media (max-width: 426px) {

    p {
        font-size: 14px;
    }

    /*nav bar*/
    header nav ul {
        gap: 5%;
        justify-content: left;
    }

    header nav ul li {
        font-size: 13px;
        text-align: center;
    }

    /*Boton videos*/
    .btn.btn-primary.btn-styles {
        top: 60px;
    }

    /*Videos offcanbas*/
    .offcanvas.offcanvas-start.offcanvas-style {
        width: 100%;
    }

    .offcanvas-title.offcanvas-title-style {
        font-size: 2rem;
    }

    /*titulo principal*/
    .main-title {
        font-size: 4rem;
        border-width: 10px;
        padding-left: 2px;
        padding-right: 150px;
        margin-left: 80px;
    }

    .name-page {
        font-size: 1rem;
        top: 38px;
        left: 70%;
    }

    .sub-title {
        font-size: 2rem;
    }

    /*Imagenes*/

    main section img {
        display: none;
    }

    #home-image {
        display: none;
    }

    /*titulo del main*/
    h3 {
        font-size: 2rem;
    }

    /*nav bag games*/
    main section nav ul {
        justify-content: left;
        gap: 20px;
        margin: 0px;
        padding: 2px;
    }

    main section nav ul li {
        font-size: 12px;
    }

    /*titulos de las noticias o articulos*/
    main section article h4 {
        font-size: 1.5rem;
        top: 20px;
    }

    main section article div img {
        width: 16px;
        height: ;
    }

    /*Barra de navegacion about me*/

    #ul-about-me {
        justify-content: center;
        font-size: 1rem;
        gap: 1%;
        margin 0px
    }

    /*Titulo about me*/
    #ricardo {
        font-size: 2rem;
        right: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #web-designer {
        position: absolute;
        font-size: 1.2rem;
        margin: 0px;
        top: 480px;
        right: 17px;
        text-align: center;
    }
}

/*Media query movil medium*/
@media (max-width: 376px) {

    /*nav bar*/
    header nav ul {
        gap: 35px;
        justify-content: left;
    }

    /*titulo principal*/
    .main-title {
        font-size: 3.8rem;
        border-width: 10px;
    }

    .name-page {
        font-size: 1.3rem;
        top: 9%;
    }

    .sub-title {
        font-size: 1.7rem;
    }

    /*titulo de noticias*/
    h3 {
        font-size: 2rem;
    }

    /*titulo articulos*/
    main section article h4 {
        font-size: 1.5rem;
    }

    /*articulos about me*/
    h5 {
        font-size: 1.8rem;
    }

    /*footer*/
    .footer-t {
        font-size: 1.2rem;
    }

    .go-up {
        font-size: 1rem;
    }
}