//color de fondo principal
$color-fondo: #17062A;

//color negro y blanco
$color-bw: (
    black white
);

//color de botones
$color-btn: #004AAD;

//hover de botones
$hover-btn: #8b36da;

//tamaño tipografia de nav bar
$font-nav-bar: 1.8rem;

//tamaño tipografia nav bar games
$font-nav-bar-game: 1.3rem;

//COLOR DE FONDO DE LOS TITULOS
$bk-color-ttl: linear-gradient(to right, #5970FC, #EE67CA);

//TAMAÑO TITULO PRINCIPAL
$ttl-size: 10rem;

//tamaño title wrapper
$ttl-wrapper: 1.5rem;

//tamaño subtitle
$subttl-size: 2rem;

//border radius general
$bor-rad: 25px;

//tamaño titulo general de las noticias
$news-updates: 3rem;

//tamaño titulo del articulo
$art-new: 2rem;

//tamaño textos
$txt-size: 1rem;

//fondo de los articulos
$bk-color: linear-gradient(to right, #020207, #413FFC);

//titulo principal para  TABLETAS GRANDES
$size-ttl-tablet-bg: 7rem;

//titulo principal para TABLETAS MEDIANAS
$size-ttl-tablet-m: 5rem;

//titulo principal para CELLULARES GRANDES
$size-ttl-cel-big: 3rem;

//titulo principal CELULARES CHICOS
$size-ttl-cel-sm: 1.8rem;

//tamaño letra barra de navegacion CELULARES GRANDES
$size-nav-bar-cel-big: 1.2rem;