/*Reset size*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*color de fondo y tipografia*/
body {
    background-color: rgb(55, 72, 38);
}

section {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: rgb(247, 3, 255);
    font-family: "PT Serif", serif;
}

p {
    font-size: 1.3rem;
}

/*barra de navegacion*/
header nav ul {
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: "PT Serif", serif;
    background-color: whitesmoke;
    list-style: none;
}

header nav ul li {
    padding-left: 200px;
    padding-right: 200px;
}

/*barra de navegacion. about me*/
main aside nav ul {
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: "PT Serif", serif;
    background-color: whitesmoke;
    list-style: none;
}

main aside nav ul li {
    padding-left: 200px;
    padding-right: 200px;
}

/*barra de busqueda games*/
main section nav ul {
    display: flex;
    justify-content: center;

}

main section nav ul il {
    padding-left: 200px;
    padding-right: 200px;
    font-size: 1.3rem;
}

/*titulo principal*/

#main-title {
    margin-left: 100px;
    margin-right: 50%;
    border-width: 20px;
    border-color: white;
    border-style: solid;
    padding-left: 100px;
}

h1 {
    font-size: 10rem;
    font-family: "PT Serif", serif;
}

#name-page {
    position: absolute;
    top: 230px;
    left: 1100px;
    font-size: 2rem;
    font-style: italic;
}

h2 {
    font-size: 3rem;
    text-align: center;
    font-family: "PT Serif", serif;
    margin-top: 30px;
    padding-top: 0px;
}

/*Imagenes del Carrete home*/
main section img {
    width: 25rem;
    height: 25rem;
    padding: 25px;
}

/*titulo del articulo principal*/
h3 {
    font-size: 4rem;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

/*titulo del juego*/
main section article h4 {
    margin-left: 100px;
    position: relative;
    bottom: -120px;
    z-index: 1;
    font-size: 2.5rem;
    background-color: #000000;
    padding: 10px;
    display: inline;
}

/*Los articulos principales*/
body main section article div {
    background-color: rgb(33, 132, 213);
    margin: 20px;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


/*titulo about me*/

#nombre-foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

#web-designer {
    display: inline-block;
    font-size: 4.3rem;
    margin-left: 40%;
    padding: 10px;
    background-color: #F703FF;
    position: absolute;
    top: 780px;
}


#ricardo {
    font-size: 7.3rem;
}

/*titulo article about me*/
h5 {
    font-size: 3rem;
}

/*articulos about me*/
main section article p {
    margin: 20px;
    padding: 20px;
    background-color: #2184D5;
    color: black;
}

/*footer*/
footer {
    background-color: blueviolet;
    font-family: "PT Serif", serif;
}

.footer-t {
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

/*go top button*/
.go-up {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    padding-top: 0px;
    margin-top: 0px border-top 0px;
}

/*Media Query PHONE format*/