//variables
@use "../abstracts/variables";
//lista
@use 'sass:list';
//media querys
@use "../abstracts/breakpoints";

/*Tipografia general*/

body {
   font-family: "PT Serif", serif;
}

p {
   color: list.nth(variables.$color-bw, 2);
}

/*tipografia barra navegacion games*/
main {
   section {
      nav {
         ul {
            li {
               font-size: variables.$font-nav-bar-game;
            }
         }
      }
   }
}

/*titulo principal*/
main {
   section {
      div {
         h1 {
            font-size: variables.$ttl-size;
            color: list.nth(variables.$color-bw, 1);

            /*media query tabletas*/
            @media (max-width: breakpoints.$tablet-big) {
               font-size: variables.$size-ttl-tablet-bg;
            }

            @media (max-width: breakpoints.$tablet-m) {
               font-size: variables.$size-ttl-tablet-m;
            }

            @media (max-width: breakpoints.$cel-big) {
               font-size: variables.$size-ttl-cel-big;
            }

            @media (max-width: breakpoints.$cel-sm) {
               font-size: variables.$size-ttl-cel-sm;
            }
         }

         p {
            font-size: variables.$ttl-wrapper;

            /*media tabletas*/
            @media (max-width: 1024px) {
               margin-top: 20px;
            }

            @media (max-width: 801px) {
               margin-top: 30px;
            }

            @media (max-width: breakpoints.$cel-sm) {
               font-size: variables.$txt-size;
            }
         }


         h2 {
            font-size: variables.$subttl-size;
         }
      }
   }
}

/*titulo general de las noticias*/
main {
   h3 {
      color: list.nth(variables.$color-bw, 1);
      font-size: variables.$news-updates;
   }
}

/*titulo de la noticia*/
main {
   section {
      article {
         h4 {
            font-size: variables.$art-new;
         }

         div {
            p {
               font-size: variables.$txt-size;
            }
         }
      }
   }
}

/*titulo offcanbas*/
.offcanvas-title.offcanvas-title-style {
   font-size: variables.$subttl-size;
}

/*tipografia footer derechos reservados*/
footer {
   section {
      .shadow {
         text-shadow: -1px 2px 0 #484848;
      }

      .derechos {
         font-size: 1rem;
      }
   }
}