// mixin
@use "../abstracts/mixin";
//variables
@use "../abstracts/variables";
// botones
@use "../components/button.scss";
//breakpoints
@use "../abstracts/breakpoints";

/*barra de navegacion*/

header {
    nav {

        ul {
            @include mixin.flex;
            @include mixin.nav-bar;
            position: fixed;
            top: 0px;
            width: 100%;
            z-index: 1000;

            li {
                @include button.boton;
                @include button.hover-btn;
                @include mixin.media-nav-bar;
            }
        }
    }
}

/*barra de nabegacion de games*/
main {
    section {
        nav {

            ul {
                @include mixin.flex;
                @include mixin.nav-bar;
                width: 100%;

                li {
                    @include button.boton;
                    @include button.hover-btn;
                    @include mixin.media-nav-bar;
                    
                    @media (max-width: 421px) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}